/***** Rating Bar *****/
.char-bar-label {
  margin-top: 5px;
}
.char-bar-container {
  display: flex;
  width: 95%;
  margin-top: 10px;
  align-items: center;


 }

.char-bar {
  display: flex;
  align-items: center;
  margin-left: 5px;
  width: 100%;
  height: 12px;
  border-radius: 10px;
  background-color: #e4e5e9;
  margin-bottom: 10px;
  flex-direction: row;
}

.char-bar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-radius: 10px;
   color: grey;
}


.char-1 {
  position: absolute;
  margin-top: 2px;
  font-size: 10px;
  bottom: 0;
  left: 5%;
}

.char-5 {
  position: absolute;
  margin-top: 2px;
  font-size: 10px;
  bottom: 0;
  right: 5%;
}
.char-major-container {
  position: relative;

}