body.active-modal {
  overflow-y: hidden;
}

.btn-modal {

  font-size: 15px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 4;

}

.overlay {
  background: rgba(49,49,49,0.8);
  z-index: -1;
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 1400px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

/* questions and answers components */
.qna-container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1235px;
  width: 100%;
}

.search-input {
  width: 98%;
  margin-bottom: 12px;
}

.questions-list-container{
  width: 98%;
  /* padding: 10px; */
  /* border: 2px solid grey; */
  /* border-radius: 1%; */
  /* /* margin-right: 40px;
  margin-left: 10px;
  margin-top: 10px; */
  margin-bottom: 10px;
}
.qna-tile {
  /* border: 2px solid grey;
  padding: 5px;
  margin: 5px;
  border-radius:1%; */
  margin-bottom: 10px;
}

.question-entry {
  display: grid;
  width: 100%;
  /* justify-content: space-between; */
  grid-template-columns: 20px 1fr 200px;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px
}

.question-text {
  margin-right:auto;
}

.helpful-tile {
  font-size: 12px;
  font-weight: normal;
}
.helpful-tile-yes {
  cursor: pointer;
  text-decoration: underline;
}

.add-answer-button {
  padding:10px;
}

.answer-list {
  overflow: auto;
  max-height: 400px;
  display: grid;
  grid-template-columns: 20px 1fr;
}

.answer-a {
  margin-right: 5px;
}

.question-buttons {
  font-size: 12px;
  color: black;
}
.question-buttons > * {
  padding-right: 10px;
  border-right: 1px solid grey;
  margin-right: 10px;
}
.question-buttons > :last-child {
  padding-right: 0px;
  border-right: 0px;
  margin-right: 0px;
}
.answerer-info {
  font-size: 12px;
  color: gray;
}
.answerer-info > * {
  padding-right: 10px;
  border-right: 1px solid grey;
  margin-right: 10px;
  margin-top: 10px;
  margin-botton: 10px;
}

.answerer-info > :last-child {
  padding-right: 0px;
  border-right: 0px;
  margin-right: 0px;
}

/* Seller setting */
strong {
  font-weight: bold;
}