body.active-modal {
  overflow-y: hidden;
}

.btn-modal {

  font-size: 15px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 1400px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
/* review containers left and right */


.average-ratings-left {
  width: 22%;
    float: left;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 1%;
    margin-top: 10px;
    margin-bottom: 40px;


}

.questions-list-container{
  width: 80%;
    float: left;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 1%;
    margin-right: 40px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 40px;

}
.qna-container-main {
    margin-left: 20px;
    padding: 2px;
    margin-top: 20px;
    margin-bottom: 20px;


}
.qna-tile {
  border: 2px solid grey;
  padding: 5px;
  margin: 5px;
  border-radius:1%;
}

.answer-tile {
  padding: 2px;
  border: 2px solid grey;
  border-radius: 1%;
  margin-top: 10px;
  background-color: lightgrey;

}

/* images in reviewTile, thumbnail images */
.thumbnail-review-image {
  height:40px;
  margin-right: 10px;
}