
body {
  --shadow-color: hsl(0deg 0% 0% / 26%);
}

/**** Related item list ****/

.items-list-container {
  position: relative;
  padding-left: 20px;
  max-width: 1215px;
}

.items-list-wrapper {
  overflow: hidden;
  width: 100%;
  max-width: 1225px;
  height: 100%;
  -webkit-mask-image: linear-gradient(to right, black calc(100% - 100px), transparent);
}

.items-list-content {
  display: inline-flex;
  transition: all 100ms ease;
}

.items-list-title {
  display: block;
  font-weight: 1000;
  font-size: 36px;
}

/**** Related item & outfit cards ****/

.items-card {
  position: relative;
  width: 200px;
  height: 300px;
  /* border: solid; */
  border-width: 1px;
  border-radius: 5px;
  margin: 20px;
  transition: transform .25s ease;
}

.items-card:hover {
  cursor: pointer;
  box-shadow: 2px 2px 10px var(--shadow-color);
  transform: scale(1.05);
}

.items-card-plus {
  display: flex;
  justify-content: center;
  background-color: #f4edf9;
}

.items-card-img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-radius: 5px;
}

.items-card-img:not(:hover) {
  /* width: 100%; */
  /* height: 75%; */
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.items-icon {
  font-size: 18px;
  position: absolute;
  top: 10px;
  color: #fff;
  filter: drop-shadow(0px 2px 10px var(--shadow-color))
}

.items-modal {
  right: 10px;
}

.items-modal:hover {
  cursor: cell;
}

.items-xmark {
  left: 10px;
}

.items-xmark:hover {
  cursor: not-allowed;
}

.items-plus {
  color: var(--main1-color);
  font-size: 50px;
  position: absolute;
  top: 30%;
}

.items-text {
  position: absolute;
  top: 55%;
  color: var(--main2-color)
}

.card-price {
  display: flex;
}

.card-price-sale {
  color: #fc3c3c;
  padding-right: 8px;
}

/**** Carousel ****/

.left-arrow, .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  z-index: 1;
}

.left-arrow:hover , .right-arrow:hover {
  cursor: pointer;
}

.left-arrow {
  margin-left: -15px;
}

.right-arrow {
  right: 0;
}

/**** Comparison Modal ****/

body.active-modal {
  height: 100vh;
  overflow-y: hidden;
}

.btn-modal {
  font-size: 15px;
}

.modal {
  position: relative;
  caption-side: top;
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  position: fixed;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 300px;
  max-width: 400px;
  min-height: 300px;
  max-height: 500px;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #fff;
  filter: drop-shadow(0px 2px 8px var(--shadow-color))
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

/* Modal elements */

.modal-title {
  background: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: -1px;
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
}

.modal-headers {
  display: inline-flex;
  padding: 5px;
}

.modal-current-product {
  align-content: flex-start;
}

.modal-related-product {
  align-content: flex-end;
}