
body {
  --shadow-color: hsl(0deg 0% 0% / 26%);
}

/**** Related item list ****/

.items-list-container {
  position: relative;
  padding-left: 20px;
  max-width: 1215px;
}

.items-list-wrapper {
  overflow: hidden;
  width: 100%;
  max-width: 1225px;
  height: 100%;
  -webkit-mask-image: linear-gradient(to right, black calc(100% - 100px), transparent);
}

.items-list-content {
  display: inline-flex;
  transition: all 100ms ease;
}

.items-list-title {
  display: block;
  font-weight: 400;
  font-size: 36px;
}

/**** Related item & outfit cards ****/

.items-card {
  position: relative;
  width: 200px;
  height: 300px;
  /* border: 1px solid; */
  border-width: 1px;
  border-radius: 5px;
  margin: 20px;
  transition: transform .25s ease;
}

.items-card:hover {
  cursor: pointer;
  box-shadow: 2px 2px 10px var(--shadow-color);
  transform: scale(1.05);
}

.items-card-plus {
  display: flex;
  justify-content: center;
  background-color: var(--main0-color);
}

.items-card-img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-radius: 5px;
}

.items-card-img:not(:hover) {
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.items-icon {
  font-size: 18px;
  position: absolute;
  top: 10px;
  color: #fff;
  filter: drop-shadow(0px 2px 10px var(--shadow-color))
}

.items-modal {
  right: 10px;
}

.items-modal:hover {
  cursor: cell;
}

.items-xmark {
  left: 10px;
}

.items-xmark:hover {
  cursor: not-allowed;
}

.items-details {
  display: flex;
  flex-direction: column;
  padding-left: 8%;
}

.items-stars {
  font-size: 10px;
  margin-top: 1.5%;
}

.items-product-category {
  font-size: 10px;
  margin-top: 1%;
  font-style: italic;
}

.items-product-name {
  font-size: 14px;
  font-weight: 500;
  margin-top: 1%;
  margin-bottom: 1%;
}

.items-price {
  display: flex;
}

.items-price-sale {
  color: #fc3c3c;
  padding-right: 8px;
}

.items-plus {
  color: var(--main1-color);
  font-size: 50px;
  position: absolute;
  top: 30%;
}

.items-add-to-outfit {
  position: absolute;
  top: 55%;
  color: var(--main2-color);
  font-weight: 500;
}

/**** Carousel ****/

.left-arrow, .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  z-index: 1;
}

.left-arrow:hover , .right-arrow:hover {
  cursor: pointer;
}

.left-arrow {
  margin-left: -15px;
}

.right-arrow {
  right: 0;
}

/**** Comparison Modal ****/

body.active-modal {
  height: 100vh;
  overflow-y: hidden;
}

.btn-modal {
  font-size: 15px;
}

.modal {
  position: relative;
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  position: fixed;
}

.modal-frame {
  position: fixed;
  display: grid;
  grid-template: 1fr 1fr 7fr / 1fr 3fr 1fr;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  min-width: 450px;
  max-width: 500px;
  min-height: 200px;
  max-height: 250px;
  transform: translate(-50%, -50%);
  background: var(--main0-color);
}

.modal-content {
  border-radius: 10px;
  filter: drop-shadow(10px 10px 0px var(--main2-color));
  z-index: 2;
}

.modal-bottom {
  bottom: 1px;
  filter: drop-shadow(10px 16px 8px var(--shadow-color));
  z-index: 1;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

/* Modal elements */

.modal-title {
  grid-column: 2 / span 1;
  text-align: center;
  color: var(--main2-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  padding-top: 15px;
}

.modal-headers {
  padding: 5px;
  font-size: 12px;
}

.modal-row {
  display: grid;
  width: 100%;
}

.modal-product {
  color: var(--main2-color);
  position: absolute;
  font-weight: 500;
  padding-top: 10px;
  top: 15%;
}

.modal-current-product {
  left: 5%;
}

.modal-related-product {
  right: 5%;
}

.modal-entry-container {
  display: grid;
  grid-area: 3 / 1 / span 5 / span 3;
  width: 100%;
  height: 80%;
  padding-top: 10px;
  align-items: center;
}

.modal-entry {
  display: grid;
  text-align: center;
  font-size: 12px;
  color: var(--main2-color);
}

.modal-left-check {
  color: var(--main2-color);
  position: absolute;
  left: 15%;
}

.modal-right-check {
  color: var(--main2-color);
  position: absolute;
  right: 15%;
}