button {
  cursor: pointer;
}

.inline {
  display: flex;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
