button {
  cursor: pointer;
}

.inline {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  background-color: #C2C2C2;
  width: 60vw;
}

.mainDiv {
  display: flex;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circleImage {
  display: flex;
  overflow: scroll;
  border: 2px solid #525252;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.sale {
  color: #B81A30;
}

.originalPrice {
  text-decoration: line-through;
}

.sideGrid {
  display: grid;
  align-items: center;
  justify-content: center;
}

.sideImage {
  border: 2px solid #525252;
  border-radius: 0.3rem;
  margin: 3px;
  height: 40px;
  width: 40px;
}

.mainImage {
  margin: 0 15px;
  height: 50vh;
  max-width: 45vw;
}

.detailsGrid {
  width: 40vw;
}

.flex {
  display: flex;
}